<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92828662084-ff9r1p09hva08bti01cmoursgjhgvr6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92828662084-ff9r1p09hva08bti01cmoursgjhgvr6m</string>
	<key>API_KEY</key>
	<string>AIzaSyBHyQBZTkkMv_VgLscl-N4aiMA0BUAx0f0</string>
	<key>GCM_SENDER_ID</key>
	<string>92828662084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advertisement</string>
	<key>PROJECT_ID</key>
	<string>advertisement-bf17e</string>
	<key>STORAGE_BUCKET</key>
	<string>advertisement-bf17e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92828662084:ios:4939b8a85c014ce134ff11</string>
</dict>
</plist>